#box
    padding: 50px 0
    .box
        width: 185px
        height: 168px
        border: 2px solid #34557a
        background-color: #7a93b1
        .minibox
            display: flex
            align-items: center
            width: 90px
            height: 80px
            background-color: #34557a
            margin: 46px
            transition: 3s 
            &:hover
                transform: scale(1.5)
            h2
                color: #ffff
                margin: 32px
                font-size: 15px