#box
    padding: 50px 0
    .box
        display: flex
        justify-content: space-evenly
        width: 185px
        height: 168px
        border: 2px solid #7e77e0
        background-color: #6a96ab
        .minibox
            width: 80px
            height: 80px
            background-color: #306576
            margin: 38px
            transition: 3s
            &:hover
                transform: scale(1.5)
            h2
                font-weight: 700
                font-size: 20px
                margin: 28px
                color: #ffff
